@font-face{
	src: url('upheavtt.ttf');
}

.root{
	-fx-background-image: url("../utils/resources/brickwall.png");
	-fx-background-size: 40%;
}

.button {
	-fx-font-size: 14;
	-fx-text-fill: yellow;
	-fx-font-family: "Upheaval TT -BRK-";
	-fx-background-image: url("../utils/resources/singleBrick.png");
	-fx-background-size: 100% 100%;
}

#headerLabel{
	-fx-font-size: 36;
}

.label{
	-fx-font-size: 25;
	-fx-text-fill: yellow;
	-fx-font-family: "Upheaval TT -BRK-";
}

.polygon{
	-fx-stroke-width: 1;
	-fx-stroke: black;
	-fx-stroke-line-cap: round;
}

.goal{
	-fx-fill: radial-gradient(white, blue, green) ;
	-fx-stroke-width: 3;
	-fx-stroke: rgb(108,70,36);
}
