@font-face{
	src: url('upheavtt.ttf');
}

.root{
	-fx-background-image: url("../utils/resources/brickwall.png");
	-fx-background-size: 40%;
}

.button {
	-fx-font-size: 14;
	-fx-text-fill: #E9B452;
	-fx-font-family: "Upheaval TT -BRK-";
	-fx-background-image: url("../utils/resources/singleBrick.png");
	-fx-background-size: 100% 100%;
}

#headerLabel{
	-fx-font-size: 36;
}

.label{
	-fx-font-size: 18;
	-fx-text-fill: #E9B452;
	-fx-font-family: "Upheaval TT -BRK-";
}